# Local Environment Variables (Where your secret keys live)
.env
.env.local

# Python files
__pycache__/
*.pyc
.venv/
env/
vcs/

# Frontend dependencies & builds
node_modules/
dist/
build/
.eslintcache

# OS hidden files
.DS_Store
Thumbs.db